* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sana-serif;
}

body {
	background: #0f172a;
	color: white;
}

/* Header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
	background: #1e293b;
}

nav a {
	color: white;
	text-decoration: none;
	margin-left: 20px;
	front-weight: bold;
}

nav a:hover {
	color: #38bdf8;
}

/* About Section */
.about {
	display: flex;
	padding: 50px;
	align-items: center;
	gap: 40px;
}

.about img {
	width: 250px;
	border-radius: 10px;
}

.about-text {
	max-width: 500px;
}

form {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

input, textarea {
	margin-bottom: 10px;
	padding: 10px;
	border: none;
	border-radius: 5px;
}

botton {
	padding: 10px;
	background: #38bdf8;
	border: none;
	border-radius: 5px
	color: black;
	font-weight: bold;
	cursor: pointer;
}

button:hover {
	background: #0ea5e9;
}

/* services */
.services {
	padding: 50px;
	background: #1e293b;
}

.services ul {
	margin-top: 20px;
	list-style: none;
}

.services li {
	margin-bottom: 10px;
}	
	

	

	 
